/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import './styles/colors.css';

/* 2. Global application styles */
body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: var(--mat-sys-title-large-font);
}

/* 3. Toolbar styles */
mat-toolbar {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  border-bottom: 1px solid var(--color-border);
}